// Navigation Styles here/
//Navigation: Use the `navigation.less` file for all your navigation styling

nav {
    margin: 30px;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px dashed @navigation-border;
}